/* font */
body {
    font-family: Arial; 
}

/* Heading styles */
h1 {  
    text-align: center;
}

h2 {
    margin-top: 5%;
    margin-bottom: 0%;
}

h3 { 
    text-align: center;
}

/* Image formatting */
img {
    padding-bottom: 10%;
    max-width: 95%;
}

/* Button & link formatting  */
button { 
    height: 38px;
    padding: 0 30px;
    border: 1px solid #bbb;
    box-sizing: border-box; 
}

button:focus { 
    color: #333;
    border-color: #888;
    outline: 0; 
  }

a:visited{
    color:blue;
}

/* flex-box formatting */
.row { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}


