body {
    font-family: Arial; <!-- font --> 
}

h1 { <!-- heading format -->
    text-align: center;
}

a:visited{
    color:blue;
}

h2 {
    margin-top: 5%;
    margin-bottom: 0%;
}

img {
    padding-bottom: 10%;
    max-width: 95%;
}

button { <!-- Button specifications -->
    height: 38px;
    padding: 0 30px;
    border: 1px solid #bbb;
    box-sizing: border-box; 
}

button:focus { 
    color: #333;
    border-color: #888;
    outline: 0; 
  }

.row { <!-- Displaying rows vs. columns --> 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}


